* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
 	background: url("../images/bg.jpg");
	background-size: cover;
	color: #fff;
}

header {
	padding: 20px;

}

nav {
	float: right;

}

a {
	color: #f6d04c;
	text-decoration: none;
}

nav a {
	color: #cccccc;
	margin-right: 20px;
}

img {
	
}


h1 {
	color: #fff;
	margin: 20px 0;
}


p {
	color: #fff;
	font-size: 16px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

#logo {
	float: left;
	width: 180px;
	opacity: .5;
	margin-top: -10px;

}

