
@import url('https://fonts.googleapis.com/css?family=Pacifico');


* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;	
	text-align: center;
 	background: url("../images/bg.jpg");
	background-size: cover;
	color: #fff;
}

header {
	padding: 20px;

}

nav {
	float: right;

}

a {
	color: #f6d04c;
	text-decoration: none;
}

nav a {
	color: #7fb0d0;
	margin-right: 20px;
}

img {
	
}


h1 {

}


p {
	color: #fff;
	font-size: 1em; /*1em = 16px*/
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.support {
	width: 30em;
 	margin: .5em auto;

}

#logo {
	float: left;
	width: 180px;
	opacity: .5;
	margin-top: -10px;

}

#slogan {
	font-family: 'Pacifico', cursive;
    font-style: italic;
	font-size: 2.5em;
/*	text-transform: uppercase;
*/	color: #fff;
	margin: .5em auto;
}



h1 {

}


p {
	color: #fff;
	font-size: 1em; /*1em = 16px*/
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.support {
	width: 30em;
 	margin: .5em auto;

}

#logo {
	float: left;
	width: 180px;
	opacity: .5;
	margin-top: -10px;

}

#slogan {
	font-family: 'Pacifico', cursive;
    font-style: italic;
	font-size: 2.5em;
/*	text-transform: uppercase;
*/	color: #fff;
	margin: .5em auto;
}
